/* Style pour l'entête */
#header {
    -fx-background-color: #388e3c;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 2);
    -fx-alignment: center;
}

#headerText {
    -fx-font-size: 28px;
    -fx-font-weight: bold;

}


#leftBox {
    -fx-background-color: #c8e6c9;
    -fx-padding: 30px;
    -fx-border-radius: 10px;
}


.button {
    -fx-background-color: #66bb6a;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 15px;
    -fx-min-width: 200px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 2);
}

.button:hover {
    -fx-background-color: #4caf50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0.5, 0, 2);
}


.image {
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 2);
}
